{% extends 'base.html' %}

{% load remove_backslashes %}

{% block main %}
<h1 class="text-center">SCV Home</h1>


{% if messages %}
<ul class="messages col-12">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="container">
    <div class="card">
        <div class="card-title ml-2">
            <h2 class="mt-2">Upload File</h2>
            <form class="mt-2" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning" type="submit">Upload</button>
            </form>

            {% if img_obj %}
                <h3 class="text-success mt-2 h5">Succesfully uploaded: {{img_obj.title }}</h3>
            {% endif %}
        </div>

        <hr>

        <div class="card-body">
            {% if images %}
                {% for image in images %}
                    <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="connect" style="max-height:100px"></a>
                {% endfor %}
            {% else %}
                <div class="h3">Нет загруженных файлов</div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-2">
    <ul class="list-group">
    {% if usertests %}
        {% for test in usertests %}
            <li class="list-group-item list-group-item-warning"><span class="text-muted">Тест:</span> {{ test.title }}. <span class="text-muted">Попытки:</span> {{ test.current_attempts }}/{{ test.number_of_attempts }}. <span class="text-muted">Статус:</span> {% if test.current_attempts == 0 %} Работа в процессе решения{% else %} Работа в процессе решения, попробуй решить на максимум баллов{% endif %}</li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<div class="container mt-2">
    <ul class="list-group">
    {% if completed_usertests %}
        {% for test in completed_usertests %}
            <li class="list-group-item list-group-item-success"><span class="text-muted">Тест:</span> {{ test.title }}. <span class="text-muted">Попытки:</span> {{ test.current_attempts }}/{{ test.number_of_attempts }}. <span class="text-muted">Статус:</span> Работа выполнена и загружена</li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<div class="container mt-3">
    <form action="{% url 'refresh' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-info btn-lg">Refresh</button>
    </form>
</div>

<div class="container">
    {% if tasks %}
        {% for title, task in merge_title_and_task %}
        <div class="card mt-5">
            <div class="h3 text-center mt-3">{{ title }}</div><hr>
            <form action="{% url 'show-result' %}" method="post">
                <input name="{{ title }}" class="d-none">
                {% csrf_token %}
                {% for t in task %}
                    <!-- <div>
                        {{ t.type_task }}
                    </div> -->
                    <div>
                    <div class="multi text-center"">
                        <div id="task-div-{{ t.pk }}">
                        </div>
                        <script>
                            // Отправка GET-запроса
                            fetch("http://{{ request.get_host }}/media/imgs/{{ t.question_text }}", {
                                method: "GET", // Метод запроса
                            })
                            .then(response => {
                                if (!response.ok) { // Проверка на успешный ответ
                                    document.getElementById("task-div-{{ t.pk }}").innerHTML = "{{ t.question_text|remove_backslashes|escapejs }}"
                                } else {
                                    const img = document.createElement('img');
                                    const a = document.createElement('a');
                                    a.href = 'http://{{ request.get_host }}/media/imgs/{{ t.question_text }}';
                                    img.src = 'http://{{ request.get_host }}/media/imgs/{{ t.question_text }}';
                                    document.getElementById('task-div-{{ t.pk }}').appendChild(a);
                                    a.appendChild(img);
                                }
                            });
                        </script>
                    </div>
                    </div>
                    <input name="task-id-{{ t.pk }}" type="text" class="col-12 mb-2" placeholder="Введите ответ" autocomplete="off">
                    <hr>
                    {% endfor %}
                    <br><button type="submit" class="btn btn-success btn-sm mt-4 col-12">Загрузить решение</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
    <div class="h3 mt-3 text-center">У вас нет активных тестов! :&#41;</div>
    {% endif %}
</div>

<div style="height:100px"></div>


{% endblock %}
