{% extends 'base.html' %}

{% load remove_backslashes %}

{% block main %}
<h1 class="text-center">SCV Home</h1>


{% if messages %}
<ul class="messages col-12">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div class="container">
    <div class="card">
        <div class="card-title ml-2">
            <h2 class="mt-2">Upload File</h2>
            <form class="mt-2" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-header-default" type="submit">Upload</button>
            </form>

            {% if img_obj %}
                <h3 class="text-success mt-2 h5">Succesfully uploaded: {{img_obj.title }}</h3>
            {% endif %}
        </div>

        <hr>

        <div class="card-body">
            {% if images %}
                {% for image in images %}
                    <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="connect" style="max-height:100px"></a>
                {% endfor %}
            {% else %}
                <div class="h3">Нет загруженных файлов</div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-2">
    <ul class="list-group">
    {% if usertests %}
        {% for test in usertests %}
            <li class="list-group-item list-group-item-warning" style="background: #fdf91eb2; opacity: .8;"><span class="text-muted">Тест:</span> {{ test.title }}. <span class="text-muted">Попытки:</span> {{ test.current_attempts }}/{{ test.number_of_attempts }}. <span class="text-muted">Статус:</span> {% if test.current_attempts == 0 %} Работа в процессе решения{% else %} Работа в процессе решения, попробуй решить на максимум баллов{% endif %}</li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<div class="container mt-2">
    <ul class="list-group">
    {% if completed_usertests %}
        {% for test in completed_usertests %}
            <li class="list-group-item list-group-item-success" style="background: #68ff42b4; opacity: .8;"><span class="text-muted">Тест:</span> {{ test.title }}. <span class="text-muted">Попытки:</span> {{ test.current_attempts }}/{{ test.number_of_attempts }}. <span class="text-muted">Статус:</span> Работа выполнена и загружена</li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<div class="container mt-3">
    <form action="{% url 'refresh' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-default"><span>Refresh</span></button>
    </form>
</div>

<div class="container">
    {% if tasks %}
        {% for title, usertest in merge_title_and_task %}
            <div class="card mt-5">
                <div class="h3 text-center mt-3">{{ title }}</div>

                <a class="btn-start-test" href="{% url 'user-test' usertest.pk %}?open=True" target="_blank" style="text-decoration: none; color: inherit;"><button class="btn-default col-12" style="border-radius: 0px;"><span>Начать тест</span></button></a>
            </div>
        {% endfor %}
    {% else %}
    <div class="h3 mt-3 text-center">У вас нет активных тестов! :&#41;</div>
    {% endif %}
</div>

<div style="height:100px"></div>

<script>
    let btn_start_test_list = document.querySelectorAll('.btn-start-test');

    // Добавляем обработчик событий для каждого элемента
    btn_start_test_list.forEach(element => {
    element.addEventListener('click', function(event) {
        event.preventDefault();
        // `this` ссылается на элемент, на который нажали
        // Использование SweetAlert2 для отображения уведомления
        Swal.fire({
            title: 'Требуется подтверждение',
            text: 'Вы уверены?',
            icon: 'warning',
            confirmButtonText: 'ОК',
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Да, я уверен!",
            cancelButtonText: "Отменить",
            // color: "#fff",
        }).then((result) => {
            if (result.isConfirmed) {
                location = this.href;
            }
        });
    });
    });
</script>
{% endblock %}
