{% extends 'base.html' %}

{% load static %}
{% load remove_backslashes %}

{% block head %}
<link rel="stylesheet" href="{% static 'user_app/css/scv_home.css' %}">
{% endblock %}

{% block main %}
  <div class="container">
    {% if messages %}
        <ul class="messages col-12">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="upload-card card">
      <div class="card-body">
        <h2 class="card-title">Upload File</h2>
        <form id="uploadForm" class="mt-2" action="{% url 'handle-uploaded-file' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>
      </div>
    </div>
    
    <div class="submissions-list">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="card-body">
            {% if images %}
                {% for image in images %}
                    <a href="{{ image.image.url }}" data-lightbox="gallery" data-title="{{ image.title }}">
                        <img src="{{ image.image.url }}" alt="connect" style="max-height:100px" class="user-image">
                    </a>
                {% endfor %}
            {% else %}
                <h3>Нет загруженных файлов</h3>
            {% endif %}
        </div>
    </div>
    <div class="container mt-3">
        <form action="{% url 'refresh' %}" method="post">
            {% csrf_token %}
            <button class="refresh-btn" type="submit">
              <i class="fas fa-sync-alt"></i> REFRESH
            </button>
        </form>
    </div>

    <div>
    {% if usertests %}
            {% for test in usertests %}
                <div class="submission-item mt-3">
                    <div class="submission-title">{% if test.title %}{{ test.title }}{% else %}{{ test.test.title }}{% endif %}</div>
                    <div class="submission-meta">
                    {% if test.current_attempts %}Попытки: {{ test.current_attempts }}/{{ test.number_of_attempts }}. {% else %}{% endif %}
                    <span class="status-in-process">Статус: {% if test.current_attempts %}{% if test.current_attempts == 0 %} Работа в процессе решения{% else %} Работа в процессе решения, попробуй решить на максимум баллов{% endif %}{% else %}{% if not test.is_passed %}{% if not test.started_at %}Работа открыта к решению{% else %}Работа в процессе решения, попробуй решить на максимум баллов{% endif %}{% endif %}{% endif %}</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div>
    {% if completed_usertests %}
            {% for test in completed_usertests %}
                <div class="submission-item mt-3">
                    <div class="submission-title">{% if test.title %}{{ test.title }}{% else %}{{ test.test.title }}{% endif %}</div>
                    <div class="submission-meta">
                    {% if test.current_attempts %}Попытки: {{ test.current_attempts }}/{{ test.number_of_attempts }}. {% else %}{% endif %}
                    <span class="status-completed">Статус: Работа выполнена и загружена</span>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
      
      <div class="divider"></div>
      
      <div class="container">
        {% if merge_title_and_task %}
            {% for title, usertest in merge_title_and_task %}
                <div class="card mt-5">
                    <div class="h3 text-center mt-3">{{ title }}</div>
    
                    <a class="btn-start-test" href="{% url 'user-test' usertest.pk %}?open=True" target="_blank" style="text-decoration: none; color: inherit;"><button class="btn btn-primary col-12" style="border-radius: 0px;"><span>Начать тест</span></button></a>
                </div>
            {% endfor %}
        {% endif %}
        {% if not merge_title_and_task and not universal_tests %}
        <div class="no-tests">
            У вас нет активных тестов! :&#41;
        </div>
        {% endif %}
        {% if universal_tests %}
          {% for test in universal_tests %}
            <div class="card mt-5">
              <div class="h3 text-center mt-3">{{ test.test.title }}</div>

              <a class="btn-start-test" href="{% url 'test-main' test.test.pk %}" target="_blank" style="text-decoration: none; color: inherit;"><button class="btn btn-primary col-12" style="border-radius: 0px;"><span>Начать тест</span></button></a>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div style="height:100px"></div>

<script>
    let btn_start_test_list = document.querySelectorAll('.btn-start-test');

    // Добавляем обработчик событий для каждого элемента
    btn_start_test_list.forEach(element => {
    element.addEventListener('click', function(event) {
        event.preventDefault();
        // `this` ссылается на элемент, на который нажали
        // Использование SweetAlert2 для отображения уведомления
        Swal.fire({
            title: 'Требуется подтверждение',
            text: 'Вы уверены?',
            icon: 'warning',
            confirmButtonText: 'ОК',
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Да, я уверен!",
            cancelButtonText: "Отменить",
            // color: "#fff",
        }).then((result) => {
            if (result.isConfirmed) {
                location = this.href;
            }
        });
    });
    });
</script>
{% endblock %}
