{% extends 'base.html' %}

{% load remove_backslashes %}

{% block main %}
<script>
    // del coockie func
    function eraseCookie(name) {
        document.cookie = name + '=; Max-Age=0';
    }
    
    // process clear coockie when user come in first time
    let params = (new URL(document.location)).searchParams; 
    is_open = params.get("open");
    if (is_open) {
        eraseCookie('saved_answers');
    }
</script>
<div class="container">
    <div class="text-center h2">{{ title_test }}</div>

    
    <form id="form-request" action="{% url 'show-result' %}" method="post" class="mt-3">

        
        <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
            <nav id="pagination_tasks" class="list-pages max-height-container" style="height: 40px;">
                <ul class="pagination mx-auto" >
                    {% for p in tasks.paginator.page_range %}
                               {% if tasks.number == p %}
                    <li class="page-item disabled"><a class="page-link" href="">{{ p }}</a></li>
                               {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                               {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <div>
                <button id="submit_to_server" type="submit" class="btn-default btn-default-sm"><span>Завершить</span></button>
            </div>
        </div>


        <input name="{{ title }}" class="d-none">
        {% csrf_token %}
        {% for t in tasks %}
            <!-- <div>
                {{ t.type_task }}
            </div> -->
            <div>
            <div class="multi text-center">
                <div id="task-div-{{ t.pk }}">
                </div>
                <script>
                    //document.cookie = "saved_answers={}"
                    let id_input_answer = 'task-id-{{ t.pk }}';
                    // Отправка GET-запроса
                    fetch("http://{{ request.get_host }}/media/imgs/{{ t.question_text }}", {
                        method: "GET", // Метод запроса
                    })
                    .then(response => {
                        if (!response.ok) { // Проверка на успешный ответ
                            document.getElementById("task-div-{{ t.pk }}").innerHTML = "{{ t.question_text|remove_backslashes|escapejs }}"
                        } else {
                            const img = document.createElement('img');
                            const a = document.createElement('a');
                            a.href = 'http://{{ request.get_host }}/media/imgs/{{ t.question_text }}';
                            img.src = 'http://{{ request.get_host }}/media/imgs/{{ t.question_text }}';
                            img.setAttribute('style', 'max-height: 300px; overflow: auto;'); // Установливаем стили
                            document.getElementById('task-div-{{ t.pk }}').appendChild(a);
                            a.appendChild(img);
                        }
                    });
                </script>
            </div>
            </div>
            <input id="task-id-{{ t.pk }}" name="task-id-{{ t.pk }}" type="text" class="col-12 mb-2" placeholder="Введите ответ" autocomplete="off" required>
            <hr>
            {% endfor %}
        </form>
    <button type="button" class="btn-header-default mb-5" style="width: 200px;" id="save-user-answer">Сохранить</button>
</div>
<script>
    // get coockie func
    function getCookie(name) {
        let cookie = document.cookie.split('; ').find(row => row.startsWith(name + '='));
        return cookie ? cookie.split('=')[1] : null;
    }

    function saveAnswer() {
        // get answer into input tag
        var input_answer = document.getElementById(id_input_answer);

        let saved_answers = getCookie('saved_answers');
        saved_answers = JSON.parse(saved_answers);
        saved_answers[id_input_answer] = input_answer.value;
        document.cookie = `saved_answers=${JSON.stringify(saved_answers)}`;  
    }

    if (!getCookie('saved_answers')) {
        document.cookie = `saved_answers={}`;
    }

    let btn_user_answer = document.getElementById("save-user-answer");

    // display answer from cookie
    var input_answer = document.getElementById(id_input_answer);

    let answer_for_display = JSON.parse(getCookie('saved_answers'))[id_input_answer];
    if (typeof answer_for_display === 'undefined' || typeof answer_for_display === 'null') {
        input_answer.value = '';
    } else {
        input_answer.value = answer_for_display;
    }

   

    btn_user_answer.onclick = function() {
        document.getElementsByTagName('html')[0].focus();
        
        // saving answer
        saveAnswer();
        alert("Ответ сохранён!");

        // fix bag with trash answers after reload page (open=True)
        if (is_open) {
            window.location.replace(`${location.origin}${location.pathname}`);
        } else {
            // fix bag by this contruction
            window.location.replace(location);
        }
    }

</script>
<script>
    /*
    Send form code
    */ 

    let submit_button = document.getElementById('submit_to_server');
    let lentgth_tasks = document.getElementById('pagination_tasks').getElementsByTagName('li').length;
    submit_button.onclick = function(event) {
        event.preventDefault();
        if (Object.keys(JSON.parse(getCookie('saved_answers'))).length != lentgth_tasks) {
            alert("Заполните все поля и сохраните ответы");
        } else {
            document.getElementById('form-request').requestSubmit();
        }
    }
    //alert(document.cookie)
</script>
{% endblock %}
