{% extends 'quiz/base.html' %}

{% block content %}
<h1>{{ test.title }}</h1>

<div class="test-description">
    {{ test.description|safe }}
</div>

<form method="post" action="{% url 'submit-test' test.id %}">
    {% csrf_token %}

    {% for question in test.questions.all %}
        <fieldset>
            <legend>Вопрос {{ forloop.counter }}: {{ question.text }}</legend>
            {% if question.question_type == question.QuestionType.SINGLE %}
                {% for answer in question.answers.all %}
                    <input type="radio" name="question-{{ question.pk }}" id="question-{{ question.pk }}-answer-{{ answer.pk }}">
                    <label for="question-{{ question.pk }}-answer-{{ answer.pk }}">{{ answer.text }}</label>
                {% endfor %}
            {% elif question.question_type == question.QuestionType.MULTIPLE %}
                {% for answer in question.answers.all %}
                    <input type="checkbox" name="question-{{ question.pk }}" id="question-{{ question.pk }}-answer-{{ answer.pk }}">
                    <label for="question-{{ question.pk }}-answer-{{ answer.pk }}">{{ answer.text }}</label>
                {% endfor %}
            {% endif %}
        </fieldset>
    {% endfor %}

    <button type="submit">Отправить тест</button>
</form>
{% endblock %}

<div class="test-meta">
    <p>Время прохождения: {{ test.time_limit }} минут</p>
    <p>Автор: {{ test.author.username }}</p>
</div>