{% extends 'quiz/base.html' %}

{% block content %}
<h1>{{ test.title }}</h1>

<div class="test-description">
    {{ test.description|safe }}
</div>
{% if success %}
success
{% endif %}
<form method="post" action="{% url 'submit-test' test.id %}">
    {% csrf_token %}

    {# Общие ошибки формы #}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}

    {% for field in form %}
        <fieldset>
            <legend>Вопрос {{ forloop.counter }}: {{ field.label }}</legend>
            {{ field }}
        </fieldset>

        {# Вывод ошибок #}
        {% if field.errors %}
            <div class="alert alert-danger mt-2">
                {% for error in field.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}


    <button type="submit">Отправить тест</button>
</form>
{% endblock %}

<div class="test-meta">
    <p>Время прохождения: {{ test.time_limit }} минут</p>
    <p>Автор: {{ test.author.username }}</p>
</div>