{% extends 'base-special.html' %}

{% load crispy_forms_tags %}

{% block main %}

{% if messages %}
<ul class="messages col-12">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="text-center">
<h1>Добавление задания</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <select required name="SUBJECT_MAIN">
        {% for task in TASK_CHOICES_SUBJECT %}

                <option value="{{ task.1 }}">{{ task.1 }}</option>
            {% endfor %}
    </select>
    <select required name="SUBJECT_PARENT">
        {% regroup TASK_CHOICES_SUBJECT_PARENT by 0 as TASK_CHOICES_SUBJECT_PARENTS %}
        {% for task in TASK_CHOICES_SUBJECT_PARENTS %}
            <optgroup label="{{ task.0 }}">
                {% for t in task.1 %}
                    <option value="{{ t.1 }}">{{ t.1 }}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
    <select required name="SUBJECT_CHILD">
        {% regroup TASK_CHOICES_SUBJECT_CHILD by 0 as TASK_CHOICES_SUBJECT_CHILDS %}
        {% for task in TASK_CHOICES_SUBJECT_CHILDS %}
            <optgroup label="{{ task.0 }}">
                {% for t in task.1 %}
                    <option value="{{ t.1 }}">{{ t.1 }}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
    {{ form_answer|crispy }}
    <button type="submit" class="btn-default col-12"><span>Добавить</span></button>
</form>
</div>
<div style="height: 100px;"></div>
{% endblock %}
