{% extends 'base-special.html' %}

{% load crispy_forms_tags %}
{% load remove_backslashes %}

{% block main %}

{% if messages %}
<ul class="messages col-12">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="text-center">
<div class="h1">Добавление теста</div>
{% if subjects_main %}
<div class="h3">Выберите предмет:</div>
{% for subject in subjects_main %}
<div><a href="{% url 'subject-main' subject.pk %}">{{ subject }}</a></div>
{% endfor %}
{% endif %}

{% if subjects_parents %}
<div class="h3">Выберите тему:</div>
<div class="text-left">|{{ subject_main_name }}|</div>
{% for subject in subjects_parents %}
<div><a href="{% url 'subject-parents' subject_main_id subject.pk %}">{{ subject }}</a></div>
{% endfor %}
{% endif %}

{% if subject_questions and not subjects_parents %}
<div class="h3">Выберите задания:</div>
<div class="text-left">|{{ subject_main_name }}|</div>
{% for question in subject_questions %}
<div><a href="{% url 'question-safe' subject_main_id question.pk %}"><img src="http://{{ request.get_host }}/media/imgs/{{ question.question_text }}" alt="Задание {{question.pk}}"></a></div>
<hr>
{% endfor %}
<!-- <nav>
    <ul>
        {% for p in subject_questions.paginator.page_range %}
        <li>
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav> -->
<nav class="container">
    <ul class="pagination">
{% for p in subject_questions.paginator.page_range %}
                   {% if subject_questions.number == p %}
        <li class="page-item disabled"><a class="page-link">{{ p }}</a></li>
                   {% elif p >= subject_questions.number|add:-2 and p <= subject_questions.number|add:2  %}
        <li class="page-item">
            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
        </li>
                   {% endif %}
        {% endfor %}
{% endif %}
    </ul>
</nav>

{% if subjects_children %}
<div class="h3">Выберите направление:</div>
<div class="text-left">|{{ subject_main_name }}|{{ subject_parent_name }}|</div>
{% for subject in subjects_children %}
<div><a href="{% url 'subject-children' subject_main_id subject_parent_id subject.pk %}">{{ subject }}</a></div>
{% endfor %}
{% endif %}

{% if questions %}
<div class="h3">Выберите задания:</div>
<div class="text-left">|{{ subject_main_name }}|{{ subject_parent_name }}|{{ subject_children_name }}|</div>
    <div>
        <a id="question1" href="{% url 'question' subject_main_id subject_parent_id subject_child_id questions.0.pk %}"><img src="http://{{ request.get_host }}/media/imgs/{{ questions.0.question_text }}" alt="Задание {{questions.0.pk}}"></a>
        <button class="btn btn-secondary ml-4 btn-show-questions">
        все вопросы
        </button>
    </div>
    <div class="list-questions hide">
        {% for question in questions %}
        <div class="mt-5"><a href="{% url 'question' subject_main_id subject_parent_id subject_child_id question.pk %}"><img src="http://{{ request.get_host }}/media/imgs/{{ question.question_text }}" alt="Задание {{question.pk}}"></a></div>
        <hr>
        {% endfor %}
  </div>
<script>
    let el = document.getElementsByClassName('btn-show-questions')[0];
    let lst = document.getElementsByClassName('list-questions')[0];
    let el1 = document.getElementById('question1');

    el.onclick = function() {
        if ('hide' in lst.classList) {
            lst.classList.toggle('hide');
            lst.classList.toggle('show');
            el1.classList.toggle('hide');
        } else {
            lst.classList.toggle('show');
            lst.classList.toggle('hide');
            el1.classList.toggle('hide');
        }
    };
</script>
{% endif %}

{% if question %}

<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <input type="text" name="task" value="{{ question.pk }}" style="display: none;">
    <!-- {{ request.session.tasks }} -->
    <button type="submit" class="btn btn-warning btn-sm">Добавить задание</button>
</form>


<div class="h3">Задание id={{ question.pk }}:</div>
{% if filename and 'reshuege.ru' not in filename%}
<img src="http://{{ request.get_host }}/media/imgs/{{ question.question_text }}" alt="Задание id={{ question.pk }}" {{text_task|remove_backslashes|safe}}>
{% else %}
<div class="">
    {{ question.question_text|remove_backslashes|safe }}
    <!-- {% for s in question.question_text %}{% if s == '\\' %}{% else %}{{ s }}{% endif %}{% endfor %} -->
</div>

{% endif %}

{% endif %}


</div>

{% if form_test %}
<form action="{% url 'add-test' %}" method="post">
    {% csrf_token %}
    {{ form_test|crispy }}
    <button class="btn btn-warning col-12">Создать тест</button>
</form>

<script>
    document.getElementById("id_task_numbers").value = "{{ request.session.tasks|escapejs }}";
</script>

{% endif %}

<div style="height: 100px;"></div>
{% endblock %}
