{% extends 'base-special.html' %}

{% block main %}
<h1>Все тесты:</h1>

{% if tests %}
<div style="text-align: center;">
    <ul style="display: inline-block; padding: 0; margin: 0;">
    {% for test in tests %}
        <table class="table">
            <thead>
                <tr>
                    <td class="text-center">
                        <a href="{% url 'show-result-detail' class_id test %}">{{ test }}</a>
                    </td>
                </tr>
            </thead>
        </table>
    {% endfor %}
    </ul>
    {% else %}
    <h2>Пока нет тестов</h2>
    {% endif %}
    
    <div class="text-center">
        <hr>
        <a href="{% url 'show-user-images' class_id %}">Изображения класса</a>
    </div>
</div>


{% endblock %}
