{% extends 'base-special.html' %}

{% block main %}
<h1>Все классы:</h1>

{% if classes %}
{% for class in classes %}
    {% if class.name != 'Администратор' %}
        <table class="table">
            <thead>
                <tr>
                    <td class="text-center">
                        <a href="{% url 'show-tests' class.id %}">{{ class.name }}</a>
                    </td>
                </tr>
            </thead>
        </table>
    {% endif %}
{% endfor %}
{% else %}
<h2>Пока нет классов</h2>
{% endif %}

{% endblock %}
