{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% block head %}{% endblock %}
    
    <!--        LIGHTBOX - START       -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.5/dist/css/lightbox.min.css">
    <!--        LIGHTBOX - END         -->
    
    <link rel="stylesheet" href="{% static 'teacher_app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'teacher_app/css/tables.css' %}">
    <!-- Иконки -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <title>{% if title %}{{ title }}{% else %}Undefinded{% endif %}</title>
    <style>
    .show {
        display: block;
    }
    .hide {
        display: none;
    }

    .navbar {
        font-family: 'Roboto', sans-serif;
        padding: 0.7rem 1rem;
        transition: all 0.3s;
    }
    
    .navbar-brand {
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    .nav-link {
        font-size: 0.95rem;
        padding: 0.5rem 1rem;
        transition: color 0.2s;
    }
    
    .dropdown-menu {
        border: none;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
        border-radius: 8px;
    }
    
    .dropdown-header {
        padding: 0.5rem 1.5rem;
    }

    </style>
    <!-- Иконки -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <!-- Шапка (Navbar) -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-3">
    <div class="container">
      <!-- Логотип и название -->
      <a class="navbar-brand d-flex align-items-center" href="{% url 'scv-home' %}">
        <i class="fas fa-graduation-cap mr-2"></i>
        <span>SCV</span>
      </a>
  
      <!-- Кнопка для мобильных -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Основное меню -->
      <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'scv-home' %}">
                <i class="fas fa-home mr-1"></i> Главная
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="actionsDropdown" data-toggle="dropdown">
                <i class="fas fa-bolt mr-1"></i> Действия
                </a>
                <div class="dropdown-menu">
                    {% if active_block == "Мои классы" %}
                    <a class="dropdown-item active" href="{% url 'show-classes' %}">Мои классы</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'show-classes' %}">Мои классы</a>
                    {% endif %}
                    {% if active_block == "Добавить к/р" %}
                    <a class="dropdown-item active" href="{% url 'show-tests' %}">Тесты</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'show-tests' %}">Тесты</a>
                    {% endif %}
                    {% if active_block == "Добавить задание" %}
                    <a class="dropdown-item active" href="{% url 'add-task' %}">Добавить задание</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'add-task' %}">Добавить задание</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                <i class="fas fa-cog mr-1"></i> Админ Панель
                </a>
            </li>
            </ul>
    
            <!-- Профиль справа -->
            <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'profile' %}" id="profileDropdown" data-toggle="dropdown">
                <i class="fas fa-user-tie mr-1"></i> Профиль
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header">
                    <i class="fas fa-user-circle mr-2"></i>
                    <strong>{{ request.user.last_name }} {{ request.user.first_name }}</strong>
                    <div class="text-muted small mt-1">Администратор</div>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="">
                    <i class="fas fa-user-edit mr-2"></i> Настройки
                </a>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt mr-2"></i> Выйти
                </a>
                </div>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <div class="container">
    <div class="col-12">
    {% block main %}

    {% endblock %}
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- jQuery (Должен быть подключен перед Lightbox) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.5/dist/js/lightbox.min.js"></script>

    <!-- Process Showing Images -->
    <script>
    $(document).ready(function(){
        let next_arrow = document.getElementsByClassName('lb-next')[0];
        let prev_arrow = document.getElementsByClassName('lb-prev')[0];
        let close_button = document.getElementsByClassName('lb-close')[0];
        next_arrow.style = 'width: 100px';
        prev_arrow.style = 'width: 100px';

        function resetZoomOptions(img) {
            isZoomed = false;
            img.style.transform = "scale(1)";
            img.style.left = "0";
            img.style.top = "0";
            img.classList.remove("zoomed");
        }

        let images = document.getElementsByClassName('lb-container');

        next_arrow.onclick = function() {
            for (let img of images) {
                resetZoomOptions(img);
            }
        }

        prev_arrow.onclick = function() {
            for (let img of images) {
                resetZoomOptions(img);
            }
        }

        close_button.onclick = function() {
            for (let img of images) {
                resetZoomOptions(img);
            }
        }

        document.addEventListener("keydown", function(e) {
            if (e.code === "Escape") {
                for (let img of images) {
                    resetZoomOptions(img);
                } 
            }
        })
        
        // zoom functional 
        let isZoomed = false;
        let isDragging = false;
        let startX, startY, imgX = 0, imgY = 0;

        for (let img of images) {
            // Увеличение изображения в точку клика
            img.addEventListener("click", function(e) {
                if (isZoomed) return; // Если уже увеличено, не увеличиваем снова

                isZoomed = true;
                img.classList.add("zoomed");

                const scaleFactor = 2; // Коэффициент увеличения
                const rect = img.getBoundingClientRect();
                const offsetX = e.clientX - rect.left;
                const offsetY = e.clientY - rect.top;

                const newX = -(offsetX * (scaleFactor - 1)); // Смещение по X
                const newY = -(offsetY * (scaleFactor - 1)); // Смещение по Y

                img.style.transform = `scale(${scaleFactor})`;
                img.style.left = `${newX}px`;
                img.style.top = `${newY}px`;
            })
            // Перетаскивание изображения после увеличения
            img.addEventListener("mousedown", function(e) {
                if (!isZoomed) return;
                isDragging = true;
                startX = e.clientX - imgX;
                startY = e.clientY - imgY;
                img.style.cursor = "grabbing";
            })

            img.addEventListener("mousemove", function(e) {
                if (!isDragging) return;
                imgX = e.clientX - startX;
                imgY = e.clientY - startY;
                img.style.left = `${imgX}px`;
                img.style.top = `${imgY}px`;
            })

            img.addEventListener("mouseup", function(e) {
                isDragging = false;
                img.style.cursor = "grab";
            })
            // Сброс на двойной клик
            img.addEventListener("dblclick", function(e) {
                resetZoomOptions(img);
            })
        }
    });
    
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>