{% extends 'base.html' %}

{% block main %}
<h1 class="text-center">SCV Home</h1>

<div class="container">
    <div class="card">
        <div class="card-title ml-2">
            <h2 class="mt-2">Upload File</h2>
            <form class="mt-2" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning" type="submit">Upload</button>
            </form>

            {% if img_obj %}
                <h3 class="text-success mt-2 h5">Succesfully uploaded: {{img_obj.title }}</h3>
            {% endif %}
        </div>

        <hr>

        <div class="card-body">
            {% if images %}
                {% for image in images %}
                    <a href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt="connect" style="max-height:100px"></a>
                {% endfor %}
            {% else %}
                <div class="h3">Нет загруженных файлов</div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-3">
    <form action="{% url 'refresh' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-info btn-lg">Refresh</button>
    </form>
</div>

<div class="container">
    {% if tasks %}
        {% for title, task in merge_title_and_task %}
        <div class="card mt-5">
            <div class="h3 text-center mt-3">{{ title }}</div><hr>
            <form action="{% url 'show-result' %}" method="post">
                <input name="{{ title }}" class="d-none">
                {% csrf_token %}
                {% for t in task %}
                    <div>
                        {{ t.type_task }}
                    </div>
                    <div>
                    <div class="multi">
                        <img src="{{ t.photo.url }}" alt="Задание {{ t.type_task }}">
                    </div>
                    </div>
                    <input name="task-id-{{ t.pk }}" type="text" class="col-12 mb-2" placeholder="Введите ответ" autocomplete="off">
                    <hr>
                    {% endfor %}
                    <br><button type="submit" class="btn btn-success btn-sm mt-4 col-12">Загрузить решение</button>
            </form>
        </div>
        {% endfor %}
    {% else %}
    <div class="h3 mt-3 text-center">У вас нет активных тестов! :&#41;</div>
    {% endif %}
</div>

<div style="height:1000px"></div>


{% endblock %}
